

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  background-color: #c1dbee;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  width: 650px;
}

.register-form h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #314e9e;
}

.register-form input,
.register-form select {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
  background-color: #eaf2f9;
}

.register-form input:focus,
.register-form select:focus {
  border-color: #1976D2;
  box-shadow: 0 0 5px #1976D2;
  background-color: #dde5ed; 
}

.register-form button {
  width: 100%;
  padding: 12px;
  background:#314e9e;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.register-form button:hover {
  background:#357ae8;
}
