.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7eef6; /* clean white background */
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 
}

/* Left section */
.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;  
}

/* Logo */
.logo img {
  
<<<<<<< HEAD
 height: 54px;
  width: 54px;
  border-radius: 90%;
=======
 height: 44px;
  width: 44px;
  border-radius: 50%;
>>>>>>> cb75f395594eb5ac4f5e63f2cfd951eb7bb215ef
  object-fit: cover;
  border: 2px solid #eee;

}

/* Search */
.search-bar {
 
  display: flex;
  align-items: center;
  background: #f5f7fa;
  border-radius: 20px;
  padding: 6px 12px;
  border: 1px solid #e0e0e0;
  max-width: 650px;
   flex: 1;
    
    height: 45px;
     transition: all 0.3s ease;
}

.search-bar input {
  
  border: none;
  outline: none;
  background: transparent;
  margin-left: 8px;
  font-size: 17px;
  width: 100%;
  color: #1b1515;
}
.search-bar input:focus {
  width: 500px;  
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
  border-color: #314e9e; 
}

 .search-icon {
  /* position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
} */
color: #666;
  height: 18px;
  width: 18px;}

/* Right section */
/* .right-section {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0; 
  
  justify-content: flex-end;
  
} */

/* Language */
.lang-select {
  padding: 9px 20px;
  border-radius: 10px;
  border: 1px solid #fffdfd;
  background-color: #f1f5fc;
  cursor: pointer;
  font-size: 19px;
  gap: 6px;
   justify-content: flex-end;
transition: all 0.2s ease;
}

/* Notifications */
.notif-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;


}

.notif-icon {
  color:  #314e9e;
  font-size: 1.4rem;
  width: 22px;
  height: 22px;
 
}
.notif-btn:hover .notif-icon {
  
  transform: scale(1.2);
}

.notif-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #4982ec;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 50%;
}

/* Profile */
.profile-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 9px;
  border-radius: 50%;
 
}

.profile-icon {
  font-size: 1.4rem;
  color:  #314e9e;
  width: 24px;
  height: 24px;
}
.profile-btn:hover .profile-icon {
     /* Darker blue on hover */
  transform: scale(1.2);
}
